@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
  align-items: center;
}
header nav img {
  width: 36px;
  margin-right: 25px;
  cursor: pointer;
}
header nav .menu-icon {
  margin-right: 25px;
  cursor: pointer;
}
header nav .menu-icon i {
  margin-right: -4px;
  color: #273e47;
}
header nav a {
  margin-right: 20px;
  color: #273e47;
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.search input {
  margin: 25px 0px;
  width: 520px;
  padding: 10px;
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 25px;
}
.search input:hover {
  box-shadow: 1px 4px rgba(0, 0, 0, 0.3);
}
.search .g-btns {
  text-decoration: none;
  color: #273e47;
  padding: 10px 32px;
  background-color: #f4f4f4;
  margin: 50px 20px;
  border-radius: 5px;
}
.search .g-btns:hover {
  border: 1px solid #5cb85c;
}

.langs-offered {
  text-align: center;
  margin-top: 30px;
}
.langs-offered p {
  font-size: 14px;
}
.langs-offered p a {
  margin: 0px 5px;
}

footer {
  height: 75px;
  background-color: #d1d1d1;
}
footer .country {
  border-top: 1px solid #6ca3b9;
  border-bottom: 1px solid #6ca3b9;
  padding: 10px 20px;
}
footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
footer .bottom-footer a {
  color: #273e47;
  margin: 0px 10px;
}

a {
  text-decoration: none;
  font-size: 13px;
}
a:hover {
  text-decoration: underline;
  color: #0275d8;
}

@media (max-width: 576px) {
  header nav img {
    margin-right: 10px;
  }

  .search input {
    width: 350px;
  }
  .search .g-btns {
    margin: 10px 5px;
  }

  footer {
    height: 100px;
  }
  footer .country {
    text-align: center;
  }
  footer .bottom-footer {
    padding: 5px 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
