@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$light-color: #f4f4f4;
$dark-color: #273e47;
$dark-border-color: #6ca3b9;

$border-color: rgb(209, 208, 208);
$footer-color: #d1d1d1;
$primary-color: #0275d8;
$success-color: #5cb85c;
