@media (max-width: 576px) {
  header {
    nav {
      img {
        margin-right: 10px;
      }
    }
  }

  .search {
    input {
      width: 350px;
    }

    .g-btns {
      margin: 10px 5px;
    }
  }

  footer {
    height: 100px;

    .country {
      text-align: center;
    }
    .bottom-footer {
      padding: 5px 10px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
  }
}
