@import 'reset';
@import 'config';

body {
  display: flex;
  flex-direction: column;
}

header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
    align-items: center;

    img {
      width: 36px;
      margin-right: 25px;
      cursor: pointer;
    }

    .menu-icon {
      margin-right: 25px;
      cursor: pointer;
      i {
        margin-right: -4px;
        color: $dark-color;
      }
    }

    a {
      margin-right: 20px;
      color: $dark-color;
    }
  }
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.search {
  input {
    margin: 25px 0px;
    width: 520px;
    padding: 10px;
    outline: none;
    border: 1px solid $footer-color;
    border-radius: 25px;
  }

  input:hover {
    box-shadow: 1px 4px rgba(0, 0, 0, 0.3);
  }

  .g-btns {
    text-decoration: none;
    color: $dark-color;
    padding: 10px 32px;
    background-color: $light-color;
    margin: 50px 20px;
    border-radius: 5px;
  }

  .g-btns:hover {
    border: 1px solid $success-color;
  }
}

.langs-offered {
  text-align: center;
  margin-top: 30px;

  p {
    font-size: 14px;
    a {
      margin: 0px 5px;
    }
  }
}

footer {
  height: 75px;
  background-color: $footer-color;

  .country {
    border-top: 1px solid $dark-border-color;
    border-bottom: 1px solid $dark-border-color;
    padding: 10px 20px;
  }

  .bottom-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    a {
      color: $dark-color;
      margin: 0px 10px;
    }
  }
}

a {
  text-decoration: none;
  font-size: 13px;

  &:hover {
    text-decoration: underline;
    color: $primary-color;
  }
}

@import 'media';
